* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
}

body {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
}

header {
  background-color: rgb(116, 116, 220);
  margin-bottom: 5px;
  height: 12vh;
  display: flex;
  align-items: center;
}

main {
  background-color: rgb(116, 116, 220);
  margin-bottom: 5px;
  height: 70vh;
}

footer {
  background-color: rgb(116, 116, 220);
  height: 12vh;
}

.flex_cards {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
